html {
  font-size: 16px;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

/* MAIN APP */
.main-app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-app__bar {
  width: 100%;
  background-color: black;
  color: white;
}

.main-app__bar--header {
  padding: 1rem;
}

.main-app__bar--footer {
  padding: .5rem 1rem;
}

.main-app__content {
  flex-grow: 1;
  margin: 0 !important;
}

/* HEADER */
.header {
}

/* ROOM CONTENT */
.room-content {
}

.room-content--wrapper {
  padding: 0 !important;
}

.room-content__column {
  padding: 1rem;
}

.room-content__column--wrapper {
  width: inherit;
}

.room-content__column--sidebar {
  background-color: #999;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 4.2rem;
}

.sidebar__title {
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.sidebar__links {
  margin-left: 1.25rem;
  padding-left: 4px;
}

.sidebar__link {
  display: block;
  padding: .5em 0;
  text-decoration: none;
  color: black;
}

.sidebar__link:hover {
  color: #1e70bf
}

/* SONGS */
.songs__header {
  display: inline;
  vertical-align: bottom;
  margin-right: 1rem !important;
}

.songs__shuffle-play {
  background-color: #1db954 !important;
}

.songs__song--clickable:hover {
  cursor: pointer;
}

.songs__action--queue-all {
  color: #1db954 !important;
}
.songs__action--queue-all:hover {
  color: white !important;
}

/* CONTEXT */
.context__loading {
  min-height: 8.5rem;
}

.context__song--title {
  margin-left: 2rem;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  display: flex;
}

.footer__left {
  width: 30%;
}

.footer__center {
  width: 40%;
}

.footer__right {
  width: 30%;
}

/* NOW PLAYING */
.now-playing {
  text-decoration: none;
  display: flex;
}

.now-playing--disabled {
  opacity: .3;
}

.now-playing__album-art {
  margin-right: 1rem;
}

.now-playing__album-art img {
  width: 70px;
  min-width: 70px;
}

.now-playing__song {
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 1rem;
  width: calc(100% - 70px - 1rem);
}

.now-playing__song-info {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.now-playing__song-info--title {
  font-size: .8rem;
}

.now-playing__song-info--artists {
  font-size: .6rem;
}

/* PLAYBACK */
.ui.progress .bar {
  min-width: 0 !important;
}

.playback {
  align-self: center;
}

.playback__controls {
  text-align: center;
  margin-bottom: 10px;
}

.playback__control {
  display: inline;
}

.playback__control--plause {
  margin: 0 20px;
}

.playback__control--next, .playback__control--previous {
  font-size: 1.5rem;
}

.playback__control--next {
  padding-right: 1rem;
}

.playback__control--next:hover {
  cursor: pointer;
}

.playback__control--previous {
  padding-left: 1rem;
}

.playback__control--previous:hover {
  cursor: pointer;
}
