html {
  font-size: 16px;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

/* MAIN APP */
.main-app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-app__bar {
  width: 100%;
  background-color: black;
  color: white;
}

.main-app__bar--header {
  padding: 1rem;
}

.main-app__bar--footer {
  padding: .5rem 1rem;
}

.main-app__content {
  flex-grow: 1;
  margin: 0 !important;
}

/* HEADER */
.header {
}

/* SPOTIFY CONTENT */
.spotify-content {
}

.spotify-content__wrapper {
  padding: 0 !important;
}

.spotify-content__column {
  padding: 1rem;
}

.spotify-content__column--sidebar {
  background-color: #AAA;
}

/* SIDEBAR */
.sidebar__title {
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.sidebar__links {
  margin-left: 1.25rem;
  padding-left: 4px;
}

.sidebar__link {
  display: block;
  padding: .5em 0;
  text-decoration: none;
  color: black;
}

.sidebar__link:hover {
  color: #1e70bf
}

/* FOOTER */
.footer {
}
